
/* Header */
h1 {
    font-family: 'Helvetica';
    color: white;
    background-color: #333;
    padding: 1em;
}

/* Main content */
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px
    color: blue
}

li {
    color: darkgreen;
}

/* Extra additions */
.highlighted {
    background-color: yellow;
}